<section id="banner"
         style="background: url(assets/img/{{ site.banner-bg }}) center center no-repeat; background-size: cover;">
    <div class="wrapper">
        <div class="content">
            <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}享受自由{% endif %}</h1>
            <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"千里之行始于足下". — 老子{% endif
                %}</h2>
        </div>
    </div>
</section> <!-- End Section Banner -->